<%- include ../layouts/cabecera.ejs  %>

<form method="post" action="/herramientas" enctype="multipart/form-data">

    <div class="form-group">
        <label for="my-input">Nombre</label>
        <input id="my-input" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
      <label for="my-input">Imagen</label>
      <input id="my-input" class="form-control-file" type="file" name="archivo">
  </div>

   <button type="submit" class="btn btn-primary">Guardar</button>
    
  
</form>
<%- include ../layouts/pie.ejs  %>